<p>
  <b>Word:</b>
  <%=h @round.word %>
</p>

<p>
  <b>Iteration:</b>
  <%=h @round.iterations %>
</p>

<p>
  <b>Entries:</b>
  <ul>
    <% @round.entries.each do |entry| %>
      <li><%= link_to h(entry.algorithm.name), entry %>
    <% end %>
  </ul>
</p>


<%= link_to 'Back', rounds_path %>
