<p>
  <b>Name:</b>
  <%=h @algorithm.name %>
</p>

<p>
  <b>Code:</b><br/>
  <code><pre><%=h @algorithm.code %></pre></code>
</p>


<%= link_to 'Edit', edit_algorithm_path(@algorithm) %> |
<%= link_to 'Back', algorithms_path %>
